html, body{
  margin:0;
  padding:0;
  font-family:Georgia;
  height:100%;
  background: linear-gradient(to top,
  white 30%,
  white 25%,
  gray 90%,
  gray 100%);
  color:black;
}

.body-exchange{
  margin:0;
  padding:0;
  font-family:Georgia;
  height:100%;
  background: linear-gradient(to top,
  white 30%,
  white 25%,
  gray 90%,
  gray 100%);
}

/* Nav Bar */
.navbar-collapse.collapsing,
.navbar-collapse.show {
  font-size: 14px;
  margin-top:10px;
  height:auto;
}

.nav-bar{
  background-color:black;
  padding-left: 1rem;
  text-decoration:none;
  padding:10px;
}

.links{
  color:white;
  padding:20px;
  font-family:Georgia, Times, 'Times New Roman', serif;
  background:none;
}

.links:hover{
  color: rgb(183, 178, 178);
}

/* Home page/Currency Converter */
.container-fluid{
  margin-top:40px;
  background: linear-gradient(to bottom,
  black 5%,
  white 70%,
  white 100%);
  width: 60vw;
  height: 40vw;
  border-radius:3%;
  height:100%;
}

#currency-converter{
  justify-content:center;
  align-items: center;
  text-align: center;
  padding:50px;
  color:white;
}

.input{
  border: 1px solid black;
  border-radius: .3em;
  padding: .25rem;
  width:6em;
}

h1{
  padding-bottom:20px;
}

select{
  margin-left: .5rem;
}

.equals{
  font-weight:bold;
  font-size: 3rem;
}

/* Exchange Rates Page */
.flexContainer{
  justify-content:center;
  align-items: center;
  text-align: center;
  margin:20px;
  padding-bottom:20px;
  background: linear-gradient(to top,
  white 30%,
  white 25%,
  gray 90%,
  gray 100%);
}

.columns-rates{
  justify-content:center;
  align-items: center;
  text-align: center;
  background: black;
}

/* Footer */
#github{
  color:black;
  text-decoration: none;
  padding-bottom:5px;
  margin-bottom:5px;
}

.footer-converter{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  margin-left: 1rem;
  font-size:14px;
  height:40px;
  padding-top:10px;
}

.footer-exchange {
  position:relative;
  left:0;
  right:0;
  bottom:0;
  height: 40px;
  margin-left: 1rem;
  margin-top:40px;
  font-size:14px;
}

.footer-social-network{
  float:right;
  margin-right: 1rem;
}

/* Adapted to phones screens*/
@media only screen and (max-width:576px){
  .footer-exchange {
    font-size: 10px;
    margin-bottom:0;
  }
  .footer-converter {
    font-size:10px;
    margin-bottom:0;
  }
  .input{
    width: 4rem;
  }
  .select-currency{
    width:3.5rem;
    font-size: 14px;
  }
}

@media only screen and (min-width:1200px){
  .container-fluid{
    width: 40vw;
  }
}

#myChart{
  padding:30px;
}