body{
  margin:0;
  overflow: hidden;
}

#currency-converter{
    justify-content:center;
    align-items: center;
    min-height:100vh;
    text-align: center;
}

.nav-bar{
  background-color:black;
  padding-left: 1rem;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    margin-left: 1rem;

}

.footer-social-network{
  float:right;
  margin-right: 1rem;
}

h1{
  margin:0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input{
  border: 1px solid black;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select{
  margin-left: .5rem;
}

.equals{
  font-weight:bold;
  font-size: 3rem;
}