html, body{
  margin:0;
  padding:0;
  font-family:Georgia;
  height:100%;
  background: linear-gradient(to top,
  white 30%,
  white 25%,
  gray 90%,
  gray 100%);
}

.body-exchange{
  margin:0;
  padding:0;
  font-family:Georgia;
  height:100%;
  background: linear-gradient(to top,
  white 30%,
  white 25%,
  gray 90%,
  gray 100%);
}

#currency-converter{
  justify-content:center;
  align-items: center;
  text-align: center;
  padding:50px;
}

.nav-bar{
  background-color:black;
  padding-left: 1rem;
  text-decoration:none;
  padding:10px;

}

.links{
  color:white;
  padding:20px;
  font-family:Georgia, Times, 'Times New Roman', serif;
  background:none;
}

.links:hover{
  color: rgb(183, 178, 178);
}

.footer-converter{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  margin-left: 1rem;
}

.footer-exchange {
  position:relative;
  left:0;
  right:0;
  bottom:0;
  height: 40px;
  margin-left: 1rem;
  margin-top:30px;
}

@media only screen and(max-width:576px){
  .footer-exchange {
    font-size:2px;
  }
  .footer-converter{
    font-size:2px;
  }
}

.footer-social-network{
  float:right;
  margin-right: 1rem;
}

h1{
  padding-bottom:20px;
}

.input{
  border: 1px solid black;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select{
  margin-left: .5rem;
}

.equals{
  font-weight:bold;
  font-size: 3rem;
}

.flexContainer{
  justify-content:center;
  align-items: center;
  text-align: center;
  margin:20px;
  padding-bottom:20px;
  background: linear-gradient(to top,
  white 30%,
  white 25%,
  gray 90%,
  gray 100%);
}

.columns-rates{
  justify-content:center;
  align-items: center;
  text-align: center;
}

.container-fluid{
  margin-top:40px;
  background: linear-gradient(to bottom,
  white 30%,
  white 25%,
  gray 90%,
  gray 100%);
  width: 60vw;
  height: 40vw;
  border-radius:7%;
  height:100%;
}

#github{
  color:black;
  text-decoration: none;
  padding-bottom:5px;
  margin-bottom:5px;
}
